<div ng-include src="'static/app/shared/topnavigation/navigationView.html'"></div>
<div class="container">



		
		<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new task</h3>
  </div>
  <div class="panel-body">
  
  <div class="panel panel-default">
		  <div style="width:100%;" class="panel-heading btn" uib-dropdown>
		    
		    
		      <h3 class="panel-title" uib-dropdown-toggle ng-disabled="disabled">
		        {{vm.maxOldQueries.selectedOption.value}} recent queries <span class="caret"></span>
		      </h3>
		      
		      <ul class="uib-dropdown-menu" role="menu" style="width:100%;">
		      
		      	<li ng-repeat="option in vm.maxOldQueries.availableOptions">
		      		<a ng-click="vm.maxOldQueries.selectedOption.value=option.value;vm.loadOldQueries()">{{option.value}} recent queries</a>
		      	</li>

		      </ul> 
		  </div>
		  <div style="padding:0px;" class="panel-body">
		    <ui-select ng-model="vm.selectedOldQuery" on-select="vm.changeToQuery($select.selected.id)">
			            <ui-select-match placeholder="Select a recent query">
			            {{$select.selected.id}}
			            </ui-select-match>
			            <ui-select-choices repeat="query as query in vm.oldQueries  | filter: $select.search">
			            <div class="row">
			            	<div class="col-xs-12 col-sm-6">
			              <div ng-bind-html="query.id | highlight: $select.search"></div>
			              <div ng-repeat="(key, value) in query.queryRaw" class="clearfix">
			              	<small class="pull-left">{{key}}:</small>
			              	<small class="pull-right" ng-bind-html="value | highlight: $select.search"></small>
			             </div>
			             </div>
			             <div class="col-xs-12 col-sm-6">
			             <span>Performed Tasks</span>
			             <div ng-repeat="task in query.tasks track by task.id" class="clearfix">
			             	
			             	<div class="clearfix">
			             	<div class="pull-left"  ng-bind-html="task.action | highlight: $select.search"></div>
			             	<small class="pull-right" ng-bind-html="task.created_on"></small>
			             	
			             	</div>
			             	<!-- 
			              	<div class="clearfix">
			              		<small class="pull-left">ID</small>
			              		<small class="pull-right" ng-bind-html="task.id | highlight: $select.search"></small>
			              	</div>
			              	<div class="clearfix">
			              		<small class="pull-left">Date</small>
			              		<small class="pull-right" ng-bind-html="task.created_on"></small>
			              	</div>
			              	<div class="clearfix">
			              		<small class="pull-left">Status</small>
			              		<small class="pull-right" ng-bind-html="task.state | highlight: $select.search"></small>
			              	</div>
			              	<div class="clearfix">
			              		<small class="pull-left">Result</small>
			              		<small class="pull-right" ng-bind-html="task.result.result"></small>
			              	</div>
			              	 -->
			              	
			             </div>
			            </div>
			            </div>
			            </ui-select-choices>
			            
			          </ui-select>
			
		</div>
		  </div>
  
  
    <div class="row">
		<div class="form-group col-xs-6">
		            <label for="taskAction">Task Action</label>
		            <ui-select  ng-model="vm.task.action">
			            <ui-select-match>{{$select.selected.type}}</ui-select-match>
			            <ui-select-choices repeat="type.type as type in vm.taskOptions">
			              <div ng-bind-html="type.type | highlight: $select.search"></div>
			              <small ng-bind-html="type.name | highlight: $select.search"></small>
			            </ui-select-choices>
			          </ui-select>
		        </div>
		        
		        
		     		
		       	<div class="form-group col-xs-6">
		       	
		       	<div ng-show="vm.task.action=='VideoFetcher'">
		        	<label for="taskAction">Resolution</label>
		       		<ui-select  ng-model="vm.task.actionOptions.resolution">
			            <ui-select-match placeholder="Select a resolution for the download">{{$select.selected.name}}</ui-select-match>
			            <ui-select-choices repeat="type.type as type in vm.downloadResolutions">
			              <div ng-bind-html="type.name | highlight: $select.search"></div>
			            </ui-select-choices>
			          </ui-select>
			         
			         <label>Sound</label>
		       		<ui-select  ng-model="vm.task.actionOptions.sound">
			            <ui-select-match placeholder="Need sound?">{{$select.selected.name}}</ui-select-match>
			            <ui-select-choices repeat="type.type as type in vm.downloadSound">
			              <div ng-bind-html="type.name | highlight: $select.search"></div>
			            </ui-select-choices>
			          </ui-select>
			          
			          <label>Method</label>
		       		<ui-select  ng-model="vm.task.actionOptions.method">
			            <ui-select-match placeholder="Need sound?">{{$select.selected.name}}</ui-select-match>
			            <ui-select-choices repeat="type.type as type in vm.downloadMethod">
			              <div ng-bind-html="type.name | highlight: $select.search"></div>
			            </ui-select-choices>
			          </ui-select>
			          
			          <div ng-show="vm.task.actionOptions.method=='random'">
			          <label>How many random videos?</label>
			          <input type="text" class="form-control"ng-model="vm.task.actionOptions.amount"/>
			           

			          </div>
			          
		     		</div> 
		       	
		       	<label style="display:block;">Submit</label>
		         <button ng-click="vm.createTask(vm.selectedOldQuery.id,vm.task.action)" type="submit" ng-disabled="!vm.selectedOldQuery || !vm.task.action" class="btn btn-primary">Create Task</button>
		            <img ng-if="vm.dataCheckingQuery" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		     		</div>      
		 </div> 
  </div>
</div>

		  
		 
		 <div ng-show="vm.runningTasks.length">   
		 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Running Tasks</h3>
  </div>
  <div class="panel-body">
    <div class="row" ng-repeat="task in vm.runningTasks">
				<div class="col-xs-4">
					{{task.task_action_id}}
					{{task.task_action}}
					{{task.progress.state}}
					
				</div>
			
				<div class="col-xs-8">
				      	<uib-progressbar ng-class="{'progress-striped active':task.progress.result!=task.progress.current}" max="task.progress.max" value="task.progress.workQueueDone"><span style="color:white; white-space:nowrap;">{{task.progress.current}}</span></uib-progressbar>
				      </div>
				</div>
  </div>
</div> 
				
		</div>
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
      <td>
          <a  ng-click="sortType = 'queryId'; sortReverse = !sortReverse">
            Query
            <span ng-show="sortType == 'queryId' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'queryId' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a  ng-click="sortType = 'id'; sortReverse = !sortReverse">
            ID
            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a  ng-click="sortType = 'action'; sortReverse = !sortReverse">
          Action
            <span ng-show="sortType == 'action' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'action' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'created_on'; sortReverse = !sortReverse">
          Created On
            <span ng-show="sortType == 'created_on' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'created_on' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'state'; sortReverse = !sortReverse">
          Status
            <span ng-show="sortType == 'state' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'state' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'result.result'; sortReverse = !sortReverse">
          Result
            <span ng-show="sortType == 'result.result' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'result.result' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in vm.oldTasks | orderBy:sortType:sortReverse | filter:{queryId:vm.selectedOldQuery.id}">
      	<td ><a href="#/query/{{ task.queryId }}">{{ task.queryId }}</a></td>
        <td >{{ task.id }}</td>
        <td>{{ task.action }}</td>
        <td>{{ task.created_on }}</td>
        <td>{{task.state}}</td>
        <td>{{task.result.result}}</td>  		
        <td> <a href="#/result/{{task.queryId}}" class="btn btn-primary">View Results</a></td>
      </tr>
    </tbody>
    
  </table>        
		        
</div>